@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:ital,wght@0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@100&family=Roboto:ital,wght@0,500;1,900&display=swap');

body{
    background-color: rgb(185, 185, 46);
}

.heading1{
    text-align: center;
    color: rgb(98, 99, 95);
    font-family: 'Noto Sans', sans-serif;
}

.heading2{
    text-align: center;
    margin: 0 auto;
    color: rgb(98, 99, 95);
    font-family: 'Lato', sans-serif;
    position: relative;
    animation: left;
    animation-duration: 3s;
}

@keyframes left {
    0% {left: -1000px}
    100%{left: 0;}

}

.pilt{
    text-align: center; 
    position: relative;
    animation: pilt;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes pilt {
    0% {top: -600px}
    100% {top: 0px}
}

.koostisosad{
    width: 50%;
    margin: 0 auto;
    color: rgb(92, 92, 92);
}

.koostisosade_tabel{
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    animation: right;
    animation-duration: 3s;
}

@keyframes right {
    0% {right: -1000px}
    100%{right: 0;}
}

.valmistamine{
    color: rgb(92, 92, 92);
    position: relative;
    animation: right;
    animation-duration: 3s;
}

@keyframes right {
    0% {right: -1000px}
    100%{right: 0;}

}

.valmistamine ol{
    width: 25%;
    margin: 0 auto;
}

.allikas{
    text-align: center;
}

.footer{
    text-align: center;
    color: rgb(238, 255, 0);
}
